html {
	min-width: 1000px;
}

body {
	font-family: arial;
	font-size: small;
	padding: 0px;
	margin: 0px;
}

ul, li {
	list-style: none;
	display: inline;
	text-decoration: none;
	color: darkgray;
}

a {
	text-decoration: none;
	color: #444;
}

a:hover {
	text-decoration: underline;
	color: black;
}

#head {
	float: right;
	padding-top: 15px;
	margin-right: 0px;
	padding-right: 25px;	
}

#head ul li {
	padding: 10px;

}

#app,
#notification {
	background-image: url('../images/sprites.png');
	display: inline-block;
	background-repeat: no-repeat;
	position: relative;
	bottom: -5px;
	opacity: .6;
}

#app:hover,
#notification:hover {
	opacity: 1;
}


#app {
	height: 20px;
	width: 20px;
	background-position: -194px -21px;
	background-color: #444;
	border-radius: 20px;

}

#notification {
	height: 17px; 
	width: 17px;
	background-position: -139px -45px;
}

#user {
	clear: both;
	height: 33px;
	width: 33px;
	border-radius: 33px;
	float: right;
}

#logo {
	clear: both;
	text-align: center;
	padding-top: 150px;
	padding-bottom: 30px; 
}

#search {
	margin: 0 auto;
	width: 525px;
	height: 35px;
	border: 1px solid rgba(0, 0, 0, .2) 
}

#s-bar, 
#s-mic {
	display: inline-block;
}

input {
	border: none;
	width: 485px;
	height: 33px;
	outline: none;
	
	padding-left: 10px; 
}

#search:hover {
	border: 1px solid rgba(0, 0, 0, .4)
}

#search:focus {
	border: 1px solid #4285F4;
	outline: none;
	opacity: 1;
}

#s-mic {
	height: 37px;
	width: 40px;
	position: absolute;
}

#s-mic img {
	height: 22px;
	width: 22px;
	position: relative;
	top: 7px;
	right: 6px;
	padding-left: 6px;
}

#buttons {
	text-align: center;
	margin-top: 30px;
}

.button {
	background-color: #F2F2F2;
	border: none;
	color: #757575;
	text-align: center;
	display: inline-block;
	font-size: 13px;
	font-weight: 600;
	height: 36px;
	padding: 0 16px;
}

.button:hover {
	border: 1px solid #c6c6c6;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
	font-weight: 700;
	color: #222;
}

#footer {
	position: fixed;
	bottom: 0px;
	background-color: #F2F2F2;
	border-top: #E4E4E4 1px solid;
	width: 100%;
	min-width: 1000px;
	height: 40px;
	margin: 0;
	padding: 0;
	display: block;
}

#footer ul {
	position: relative;
	bottom: -12px;
	padding: 5px;	
}

#footer ul li {
	padding: 15px;
}

#f-left {
	float: left;
	padding-left: 0;
}

#f-right {
	float: right;
}