body {
	margin: 0;
	min-width: 1250px;
	font-family: arial, sans-serif;
}


/* HEADER */

#header {
	width: 100%;
	min-width: 1000px;
	height: 60px;
	background-color: #eee;
	margin: 0;
	float: none;
}

#h_searchbar {
	width: 800px;
	display: inline-block;
	position: relative;
	top: 0;
	left: 0;
}

#h_s_logo {
	background-image: url('../images/sprites2.png');
	background-repeat: no-repeat;
	height: 33px; 
	width: 91px;
	background-position: -1px -43px;
	border: none;
	position: relative;
	top: 8px;
	left: 14px;
	display: inline-block;
	margin-right: 25px; 
}

#h_s_logo:hover, 
#s_mic:hover {
	cursor: pointer;
}

#search_container {
	width: 600px;
	height: 37px;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, .2);
	display: inline-block;
	position: relative;
	top: -7px;
}

#search_container:hover {
	border: 1px solid rgba(0, 0, 0, .4)
}

#s_bar, 
#s_mic,
#s_button {
	display: inline-block;
}

input {
	border: none;
	width: 560px;
	height: 32px;
	outline: none;
	padding-left: 10px;
	font-size: 13pt;

}

#s_mic {
	height: 37px;
	width: 20px;
	position: absolute;
}

#s_mic img {
	height: 24px;
	width: 24px;
	position: relative;
	top: 7px;
	right: 6px;
	padding-left: 6px;
}

#s_button {
	height: 39px;
	width: 40px;
	background-color: #4285F4;
	position: relative;
	top: 9px; 
	left: -5px; 
}

#s_button:hover {
	background-color: #3b78e7;
	cursor: pointer;
}

#s_button_image {
	background-image: url('../images/sprites2.png');
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
	background-position: -108px -57px;
	background-color: #4285F4;
	position: relative;
	top: 9px;
	left: 9px;
}

#h_user {
	display: inline;
	height: 60px;
	width: 180px;
	float: right;
	margin-right: 20px;

}

#h_user ul li {
	float: right;
	display: inline;
	list-style-type: none;
	padding: 0 10px 0 10px;
}

#h_user ul {
	margin-top: 13px;
}

#notification_container {
	padding:100px;
}


#app,
#notification {
	background-image: url('../images/sprites.png');
	display: inline-block;
	background-repeat: no-repeat;
	position: relative;
	bottom: -5px;
	opacity: .6;
}

#app:hover,
#notification:hover {
	opacity: 1;
}


#app {
	height: 20px;
	width: 20px;
	background-position: -194px -21px;
	background-color: #444;
	border-radius: 20px;

}

#notification {
	height: 17px; 
	width: 17px;
	background-position: -139px -45px;
}

#user_pic {
	height: 33px;
	width: 33px;
	border-radius: 100%;
	margin-bottom: 50px;
	float: right;
}

/* NAV */


#nav {
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #eee; 
}

#n_main {
	display: inline-block;
	margin-left: 70px;
	width: 730px;
}

#n_main ul {
	margin-top: 20px;
	display: inline-block;
}

#n_main ul #selected {
	border-bottom: 3px solid #4285F4;
	color: #4285F4;
	font-weight: bold;
	padding-bottom: 20px; 
}

#n_main ul #hover_box {
	border-bottom: 3px solid #4285F4;
	color: #4285F4;
	font-weight: bold;
	padding-bottom: 20px; 
}

#n_main ul li {
	list-style-type: none;
	display: inline;
	padding: 10px;
	margin: 5px;
	font-size: 13px;
	color: #888;
}

#n_main ul li:hover {
	color: #333;
	cursor: pointer;
}

#search_tools {
	display: inline-block;
	font-size: 13px;
	color: #888;
	margin-left: 10px;
}

#search_tools:hover {
	cursor: pointer;
	background-color: #f6f6f6;
	padding: 7px;
	margin-left: 2px;
	border: 1px solid #D9D9D9;
	border-radius: 2px;
	box-shadow: 0px 0px 1px #D9D9D9;
}

#n_settings {
	width: 200px;
	display: inline-block;
	float: right;
	position: relative;
	top: 16px;
}

#n_private,
#n_global {
	width:40px;
	height: 27px;
	background-color: #f5f5f5;
	float: left;
	border: 1px solid #D9D9D9;
	border-radius: 2px;
}

#n_private {
	background-color: #E6E6E6;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	box-shadow: inset 0px 1px 1px #D9D9D9;
}

#n_global {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}


#n_options {
	width: 70px;
	height: 27px;
	background-color: #f5f5f5;
	float: right;
	margin-right: 20px;
	border: 1px solid #D9D9D9;
	opacity: .6;
}

#n_private_image {
	background-image: url('../images/sprites2.png');
	background-repeat: no-repeat;
	height: 12px;
	width: 13px;
	background-position: -16px -329px;
	position: relative;
	top: 8px;
	left: 14px;
	
}

#n_global_image {
	background-image: url('../images/sprites2.png');
	background-repeat: no-repeat;
	height: 14px;
	width: 14px;
	background-position: -30px -328px;
	position: relative;
	top: 7px;
	left: 12px;
}

#n_options_image {
	background-image: url('../images/sprites2.png');
	background-repeat: no-repeat;
	height: 19px;
	width: 17px;
	background-position: -41px -259px;
	position: relative;
	top: 5px;
	left: 24px;
}

#n_global:hover {
	box-shadow: -1px 1px 0px #D9D9D9;
}

#n_options:hover {
	opacity: 1;
	box-shadow: 0px 0px 1px #D9D9D9;
}

/* MAIN TOP */

#main_container {
	width: 1250px;
}

#results_time {
	width: 1080px;
	margin-left: 120px;  
}

#results_time p{
	position: relative;
	display: inline-block;
	margin: 15px 0 20px 0; 
	font-size: 12px;
	color: #888; 
}

/* SIDEBAR */

#sidebar {
	width: 454px;
	height: 982px;
	float: right;
	box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
	font-size: small;

}

#sidebar a{
	color: #1a0dab;
	text-decoration: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

#sidebar h1 {
	font-weight: normal;
	margin: 0;
	padding: 15px 15px 5px 15px;
	font-size: 22pt;
}


#sidebar h3{
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	padding: 15px;

}

#s_photos {
	overflow: hidden;
	height: 100%;
	height: 159px;
}

#s_photos img{
	height: 100%;
	width: 100%;
	margin: 0;
	float: left;

}

#s_photos div{
	padding-bottom: 1px;
	padding-right: 1px; 
	float: left;
	margin: 0;


}

#more_images {
	display: inline-block;
	width: 120px;
	height:31px;
	position: relative;
	right: -340px;
	bottom: 34px;
	background-color: rgba(0,0,0,.5);
	text-align: center;
}

@keyframes fade-in {
	0% {background-color: rgba(0,0,0,.5);}
	100% {background-color: rgba(0,0,0,1);}
}

#more_images:hover {
	animation: fade-in 1s;
}


#more_images div{
	padding: 7px;
	font-size: 16px; 
	text-shadow: 0 0 2px black,0 0 3px black;
	
}
#more_images div a {
	color: white;
}



#s_bio {
	
}

#share_button {
	height: 24px;
	width: 24px;
	float: right;
	position: relative;
	color: orange;
	opacity: .6;
	margin-right: 10px; 

}

#s_bio div {
	padding-left:15px;
}

#s_bio ul{
	margin: 0;
	padding-left: 15px;
}

#bio_info li {
	padding-top: 10px;
}

#s_bio ul li{
	list-style-type: none;
	

}

#s_bio ul li img{
	display: block;
	margin: 0 auto;
	padding-bottom: 4px;

}

#social_media {
	padding: 0 15px;
	margin: 0;
}

#social_media li{
	display: inline-block;
	padding-right: 30px;
	padding-bottom: 0px;
}

#social_media li:hover{
	text-decoration: underline;
	cursor: pointer;
}

#s_stats table{
	margin-top: -10px;

}

#s_stats tr {
	padding-left: 15px;
	padding-right: 30px;
}

#s_stats table td{
	text-align: center;
}

.td_hr{
	height: 1px;
	width: 456px;
	background-color: #ebebeb;
	margin-left: -3px; 
}

.td_date {
	display: inline-block;
}

.td_at {
	display: inline-block;
	margin: 4px 10px 4px 10px;
}


#s_people h3{
	display: inline-block;
	padding-bottom: 10px;

}

#s_people ul {
	padding-left: 15px;
	margin: 0;
}

#s_people ul li{
	display: inline-block;
	width:72px;
	vertical-align: top;
	padding-right: 12px;
}

#s_people ul li img{
	display: block;
}

#feedback {
	display: inline-block;
	float: right;
	position: relative;
	top: 17px;
	right: 15px;

}

#feedback:hover {
	text-decoration: underline;
	cursor: pointer;
}


/* MAIN */



#main {
	margin-left: 120px;
	width: 600px;
	/*overflow: hidden;*/ 
}

.result {
	position: relative;
	font-size: 13px;
	line-height: 1.3;
}

.section_header {
	margin: 0 0 10px 0;
	font-weight: normal;
	color: #888;
}

#news_image {
	float: left;
	margin-right: 10px;
}


.r_title {
	font-size: 18px;
	margin: 0;
	font-weight: normal;
}

.result a {
	text-decoration: none;
	color: #1a0dab;
}

.result a:hover {
	text-decoration: underline;
}

.r_url {
	color: green;
}

.text_muted {
	color: #888;
}

.r_summary {
	display: block;
	margin: 0;
	color:#545454;
}

hr {
	margin: 0;
	background-color: #eee; 
	height: 1px; 
	border: 0; 
}

#twitter {
	
}

#twitter img {
	height: 14px;
	width: 17px;
	margin-left: 5px; 
}

#twitter_container {
	margin-top: 10px;
	width: 600px;
	height: 100px;
}

#twitter_left {
	display: inline-block;
	width: 295px;
	border-right: 1px solid #eee;
	border-left: 1px solid #eee;
	height: 100%

}

#twitter_right {
	display: inline-block;
	float: right;
	width: 295px;
	border-right: 1px solid #eee;
	height: 100%
}

#twitter_right div {
	float: left;
}

#twitter_container div div {
	padding-left: 5px;
	font-size: small;

}

.twitter_content {
	padding-top: 10px;
	padding-bottom: 10px;
}


#twitter_arrow_left,
#twitter_arrow_right {
	height: 50px;
	width: 25px;
	background-color: #F1F1F1;
	border: 2px solid #eee;
	position: absolute;
	top: 95px;
}

#twitter_arrow_left {
	left:-33px;

}

#twitter_arrow_right {
	right: -33px;
}

#t_a_l_image {
	height: 20px;
	width: 20px;
	position: absolute;
	top: 15px;
	left: 0px;
}

#t_a_r_image {
	height: 20px;
	width: 20px;
	position: absolute;
	top: 15px;
	left: 0px;
}

#twitter_arrow_left:hover,
#twitter_arrow_right:hover {
	cursor: pointer;
	background-image:-webkit-linear-gradient(top,#fafafa,#f1f1f1);
}



#related {
	padding-left: 5px;
}

#related ul {
	display: inline-block;
	margin: 0;
	padding-left: 0;
}

#related ul li{
	list-style-type: none;
	font-size: 13px;
	padding: 5px;
}


#related ul li a { 
	text-decoration: none;
	color: #1a0dab
}

#related a:hover {
	text-decoration: underline;
}

#breadcrumbs {
	text-align: center;
}

#bc_top{
	font-size: 0;
	display: inline-block;
} 

#bc_goo {
	display: inline-block;
	background-image: url('../images/sprites2.png');
	background-repeat: no-repeat;
	height: 37px; 
	width: 71px;
	background-position: -24px -0px;
}

.bc_o {
	display: inline-block;
	background-image: url('../images/sprites2.png');
	background-repeat: no-repeat;
	height: 37px; 
	width: 21px;
	background-position: -75px -0px;
}

#bc_gle {
	display: inline-block;
	background-image: url('../images/sprites2.png');
	background-repeat: no-repeat;
	height: 37px; 
	width: 42px;
	background-position: -97px -0px;
}

#bc_arrow {
	display: inline-block;
	background-image: url('../images/sprites2.png');
	background-repeat: no-repeat;
	height: 12px; 
	width: 7px;
	background-position: -160px -9px;
	float: right; 
	position: relative;
	top: 11px;
	right: 135px;
}

#bc_bottom ul{
	display: inline-block;
	list-style-type: none;
	font-size: 13px;
	padding: 0;
	margin: 0;
	margin-left: 9px; 
}

#bc_bottom ul li{
	display: inline;
	padding: 5px;

}

#bc_bottom ul li a{
	text-decoration: none;
	color: #4285f4;
	
}

#bc_next {
	display: inline;
	color: #4285f4;
	vertical-align: middle;
	font-size: small;
	float: right;
	position: relative;
	right: 125px;
}

#bc_next a{
	color: #4285f4;
	text-decoration: none;
}

#bc_bottom a:hover {
	text-decoration: underline;
}

/* FOOTER */

#footer {
	width: 100%;
	height: 80px;
	border-top: 1px solid #ddd;
	background-color: #f2f2f2; 
	clear: both;
}

#footer a:hover {
	color: #333;
}

#f_container {
	display: inline-block;
	position: relative;
	top: 20px;
	left: 120px;
	font-size: small;
	width: 475px;
}

#f_top_circle {
	display: inline-block;
	background: #888;
	float: left;
	height: 10px;
	width: 10px;
	border-radius: 100%;
	margin-right: 5px;
	margin-top: 3px;

}

#f_top div {
	display: inline-block;
	vertical-align: middle;
}

#f_top div a{
	text-decoration: none;
	color: #777;
}

#f_bottom {
	margin-top: 18px;
}

#f_bottom ul{
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#f_bottom ul li{
	display: inline;
	padding-right: 30px;


}

#f_bottom ul li a{
	text-decoration: none;
	color: #777;
	
}

.clear {
	clear: both;
}

.padding_top {
	padding-top: 12px;
}

.float_right {
	float: right;
}

.text_tiny {
	font-size: x-small;
    padding-top: 2px;
}